.vs
SwaggerClient/obj
SwaggerClient/bin
Domain/obj
Domain/bin
AbstractServices/obj
AbstractServices/bin
BLL/obj
BLL/bin
DatabaseDAL/obj
DatabaseDAL/bin
EntryPoint/obj
EntryPoint/bin
FilesDAL/obj
FilesDAL/bin
DTOs/obj
DTOs/bin